# Backend deploy
SRC_ROOT=/home/workroom/items/app-note
DEST_ROOT=/home/app/app-note
DEFAULT_ENV=pro

# Frontend deploy
NGINX_WEB_ROOT=/usr/share/nginx/html/app-note
ENABLE_NGINX_RELOAD=1

# Optional release check
# BACKEND_CHECK_URL=http://127.0.0.1:19812/app-note/auth/login
